//Main colors
//$primary_bg: rgb(48, 104, 190);
$primary_bg: #081a35;

$primary_actions: #ffc107;

//Color pallet 1
$p1_color1: #5fa55a;
$p1_color2: #01b4bc;
$p1_color3: #f6d51f;
$p1_color4: #fa8925;
$p1_color5: #fa5457;

//Color pallet 2
$p2_color1: #c35c2f;
$p2_color2: #ea9b67;
$p2_color3: #ffecbc;
$p2_color4: #ffdc7f;
$p2_color5: #b68567;

//Color pallet 3
$p3_color1: #f8f9fd;
$p3_color2: #00939c;
$p3_color3: #df8f46;
$p3_color4: #e2ceb3;
$p3_color5: #ff798a;

//Color pallet 4
$p4_color1: #82bcc7;
$p4_color2: #fa8596;
$p4_color3: #faeadb;
$p4_color4: #dd8331;
$p4_color5: #63200d;

//Color pallet 5
$p5_color1: #421930;
$p5_color2: #7c1e3b;
$p5_color3: #b44346;
$p5_color4: #d88e6c;
$p5_color5: #f6e7ce;

//Color pallet 6
$p6_color1: #d17f00;
$p6_color2: #fee350;
$p6_color3: #f7e699;
$p6_color4: #f4f4ea;
$p6_color5: #577235;

//Color pallet 7
$p7_color1: #de9602;
$p7_color2: #fdd021;
$p7_color3: #fef266;
$p7_color4: #cfbcae;
$p7_color5: #564037;

//Color pallet 8
$p8_color1: #010e3b;
$p8_color2: #006a91;
$p8_color3: #bededb;
$p8_color4: #f6fbf5;
$p8_color5: #f1da76;

//Color pallet 9
$p9_color1: #1d3c02;
$p9_color2: #4f8901;
$p9_color3: #a8d681;
$p9_color4: #bdd002;
$p9_color5: #a5a831;

//Color pallet 10

$p10_color1: #3e281a;
$p10_color2: #725d44;
$p10_color3: #725d44;
$p10_color4: #d00613;
$p10_color5: #290e0e;

//Color pallet 11
$p11_color1: #fbe8a6;
$p11_color2: #f4976c;
$p11_color3: #303c6c;
$p11_color4: #b4dfe5;
$p11_color5: #d2fdff;

//Laracast pallet
$l_blue: #328AF1;
$l_white: #FFFFFF;
$l_black: #222222;
$l_laravel1: #EC454F;
$l_laravel2: #F44881;
$l_php1: #637BFF;
$l_php2: #21C8F6;
$l_testing1: #1AAB8B;
$l_testing2: #6EDCC4;
$l_javascript1: #F19A1A;
$l_javascript2: #FFC73C;
$l_tooling1: #8B60ED;
$l_tooling2: #B372BD;

$l_laravel_gradient: linear-gradient(to left, rgb(244, 72, 129), rgb(236, 69, 79));
$l_php_gradient: linear-gradient(to left, rgb(33, 200, 246), rgb(99, 123, 255));
$l_testing_gradient: linear-gradient(to left, rgb(110, 220, 196), rgb(26, 171, 139));
$l_javascript_gradient: linear-gradient(to left, rgb(255, 199, 60), rgb(241, 154, 26));
$l_tooling_gradient: linear-gradient(to left, rgb(179, 114, 189), rgb(139, 96, 237));


