@font-face {
  font-family: 'fontawesomeregular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/fontawesome-webfont-webfont.woff2') format('woff2'),
  url('../fonts/fontawesome-webfont-webfont.woff') format('woff');

}


@font-face {
  font-family: 'jetbrains_monobold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/jetbrainsmono-bold-webfont.woff2') format('woff2'),
  url('../fonts/jetbrainsmono-bold-webfont.woff') format('woff');

}


@font-face {
  font-family: 'jetbrains_monobold_italic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/jetbrainsmono-bold-italic-webfont.woff2') format('woff2'),
  url('../fonts/jetbrainsmono-bold-italic-webfont.woff') format('woff');

}


@font-face {
  font-family: 'jetbrains_monoextra_bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/jetbrainsmono-extrabold-webfont.woff2') format('woff2'),
  url('../fonts/jetbrainsmono-extrabold-webfont.woff') format('woff');

}


@font-face {
  font-family: 'jetbrains_monoXBdIt';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/jetbrainsmono-extrabold-italic-webfont.woff2') format('woff2'),
  url('../fonts/jetbrainsmono-extrabold-italic-webfont.woff') format('woff');

}


@font-face {
  font-family: 'jetbrains_monoitalic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/jetbrainsmono-italic-webfont.woff2') format('woff2'),
  url('../fonts/jetbrainsmono-italic-webfont.woff') format('woff');

}

@font-face {
  font-family: 'jetbrains_monomedium';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/jetbrainsmono-medium-webfont.woff2') format('woff2'),
  url('../fonts/jetbrainsmono-medium-webfont.woff') format('woff');

}


@font-face {
  font-family: 'jetbrains_monomedium_italic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/jetbrainsmono-medium-italic-webfont.woff2') format('woff2'),
  url('../fonts/jetbrainsmono-medium-italic-webfont.woff') format('woff');

}


@font-face {
  font-family: 'jetbrains_monoregular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/jetbrainsmono-regular-webfont.woff2') format('woff2'),
  url('../fonts/jetbrainsmono-regular-webfont.woff') format('woff');

}

@import "font-awesome.css";